{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">

        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>
                
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="adress" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                    </div>
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
                

            
        </div>

        <br>
        <div class="box-element hidden" id="payment-info">
            <small>MP</small>
            <form id="form-checkout" >
                <div class="form-field">
                    <input type="text" name="cardNumber" id="form-checkout__cardNumber" class="form-control" />
                </div>
                <div class="form-field">
                    <input type="text" name="cardExpirationMonth" id="form-checkout__cardExpirationMonth" class="form-control"/>
                </div>
                <div class="form-field">
                    <input type="text" name="cardExpirationYear" id="form-checkout__cardExpirationYear" class="form-control"/>                    
                </div>
                <div class="form-field">
                    <input type="text" name="cardholderName" id="form-checkout__cardholderName" class="form-control"/>                    
                </div>
                <div class="form-field">
                    <input type="email" name="cardholderEmail" id="form-checkout__cardholderEmail" class="form-control"/>                    
                </div>
                <div class="form-field">
                    <input type="text" name="securityCode" id="form-checkout__securityCode" class="form-control" />                    
                </div>
                <div class="form-field">
                    <select class="form-control" name="issuer" id="form-checkout__issuer"></select>                    
                </div>
                <div class="form-field">
                    <select class="form-control" name="identificationType" id="form-checkout__identificationType"></select>
                </div>
                <div class="form-field">
                    <input class="form-control" type="text" name="identificationNumber" id="form-checkout__identificationNumber" class="form-control"/>                    
                </div>
                <div class="form-group">
                    <select class="form-control" name="installments" id="form-checkout__installments"></select>                    
                </div>
                <a href=" {% url 'process-payment' %}">
                    <button class="btn btn-success btn-block" type="submit" id="form-checkout__submit" >Pagar</button>
                </a>
                <progress value="0" class="progress-bar">Carregando...</progress>
            </form>
            <!-- <button id="make-payment">Make payment</button> -->
            <div id="paypal-button-container"></div>
        </div>
        
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"><p></p></div>
                <div style="flex:1"><p>R${{item.product.price|floatformat:2}}</p></div>
                <div style="flex:1"><p>x{{item.quantity}}</p></div>
            </div>
            {% endfor %}
            <h5>Items:   {{order.get_cart_items}}</h5>
            <h5>Total:   R${{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
</div>


<script src="https://sdk.mercadopago.com/js/v2"></script>

<script type="text/javascript">

    var orderID = '{{order.transaction_id}}'
    var shipping = '{{order.shipping}}'
    var total_compra = '{{order.get_cart_total|floatformat:2}}'
    const mp = new MercadoPago('TEST-cb073ec4-b313-4e92-a6a1-0bfbfb0d6deb');

    /* mercado pago */
    // Step #3
    const cardForm = mp.cardForm({
    amount: parseFloat(total_compra).toFixed(2),
    autoMount: true,
    form: {
        id: "form-checkout",
        cardholderName: {
        id: "form-checkout__cardholderName",
        placeholder: "Titular do cartão",
        },
        cardholderEmail: {
        id: "form-checkout__cardholderEmail",
        placeholder: "E-mail",
        },
        cardNumber: {
        id: "form-checkout__cardNumber",
        placeholder: "Número do cartão",
        },
        cardExpirationMonth: {
        id: "form-checkout__cardExpirationMonth",
        placeholder: "Mês de vencimento",
        },
        cardExpirationYear: {
        id: "form-checkout__cardExpirationYear",
        placeholder: "Ano de vencimento",
        },
        securityCode: {
        id: "form-checkout__securityCode",
        placeholder: "Código de segurança",
        },
        installments: {
        id: "form-checkout__installments",
        placeholder: "Parcelas",
        },
        identificationType: {
        id: "form-checkout__identificationType",
        placeholder: "Tipo de documento",
        },
        identificationNumber: {
        id: "form-checkout__identificationNumber",
        placeholder: "Número do documento",
        },
        issuer: {
        id: "form-checkout__issuer",
        placeholder: "Banco emissor",
        },
    },
    callbacks: {
        onFormMounted: error => {
        if (error) return console.warn("Form Mounted handling error: ", error);
        console.log("Form mounted");
        },
        onSubmit: event => {
        event.preventDefault();

        const {
            paymentMethodId: payment_method_id,
            issuerId: issuer_id,
            cardholderEmail: email,
            amount,
            token,
            installments,
            identificationNumber,
            identificationType,
        } = cardForm.getCardFormData();

        fetch("/process_payment/", {
            method: "POST",
            headers: {
            "Content-Type": "application/json",
            "X-CSRFToken":csrftoken,
            },
            body: JSON.stringify({
            token,
            issuer_id,
            payment_method_id,
            transaction_amount: Number(amount),
            installments: Number(installments),
            description: "Descrição do produto",
            payer: {
                email,
                identification: {
                type: identificationType,
                number: identificationNumber,
                },
            },
            }),
        });
        },
        onFetching: (resource) => {
        console.log("Fetching resource: ", resource);

        // Animate progress bar
        const progressBar = document.querySelector(".progress-bar");
        progressBar.removeAttribute("value");

        return () => {
            progressBar.setAttribute("value", "0");
        };
        },
    },
    });

    /* fim mercado pago */





    if (shipping == 'False'){
        document.getElementById('shipping-info').innerHTML= ''
    }

    if (user != 'AnonymousUser'){
        document.getElementById('user-info').innerHTML=''
    }


    if (shipping == 'False' && user != 'AnonymousUser'){
        document.getElementById('form-wrapper').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden')
    }

    var form = document.getElementById('form')

    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Form submitted...')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })
    /*
    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
    })
    */

    function submitFormData(){
        console.log('payment button clicked')

        var userFormData = {
            'name':null,
            'email':null,
            'total':total,
        }
        var shippingInfo = {
            'adress':null,
            'city':null,
            'state':null,
            'zipcode':null,
        }
        
        if(shipping != 'False'){
            shippingInfo.adress = form.adress.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value
        }

        if(user == 'AnonymousUser'){
            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }

        var url = "/process_order/"
        fetch(url, {
            method:'POST',
            headers:{
                'Content-Type':'applicaiton/json',
                'X-CSRFToken':csrftoken,
            }, 
            body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo,'transactionID': orderID}),
            
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Success:', data);    

            alert('Success, you has redirected for home')

            cart = {}
            document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

            window.location.href = "{% url 'store' %}"
            
        })
    }

</script>
{% endblock %}